@model IEnumerable<WalkDrum.Models.WalkInInfoLink>
    <script type="text/javascript">
        document.title = '@(ViewBag.keyword + ", " + ViewBag.location)';
    </script>

@if (Model.Count() > 0)
{
    <h4 class="itemlabelsResults">
        SEARCH RESULTS (Links):
        @if (!string.IsNullOrEmpty(ViewBag.keyword))
        {
            @("Key Word: " + ViewBag.keyword + ", ")
        }
        @if (!string.IsNullOrEmpty(ViewBag.location))
        {
            @("Location " + ViewBag.location + ", ")
        }
        @if (!string.IsNullOrEmpty(ViewBag.datefrom))
        {
            @("Date From: " + ViewBag.datefrom + ", ")
        }
        @if (!string.IsNullOrEmpty(ViewBag.dateto))
        {
            @("Date To: " + ViewBag.dateto + ", ")
        }
    </h4>
    <br>
    <div class="row">
        @foreach (WalkDrum.Models.WalkInInfoLink winfo in Model)
        {
            var tit = System.Text.RegularExpressions.Regex.Replace(winfo.jobtitle, @"[^0-9a-zA-Z]+", ""); 

        <div class="col-sm-3 jobitem" onclick="showjobdetails(@winfo.id, '@tit')">
            <h5 class="title">@winfo.jobtitle.Trim().ToUpper()</h5>
            @if (winfo.dtfrom.ToString("MMM dd, yyyy") ==
                winfo.dtto.ToString("MMM dd, yyyy"))
            {
                <p class="jdate">
                    @(
                            winfo.dtto.ToString("MMM dd, yyyy")
                        )
                </p>
            }
            else
            {
                <p class="jdate">
                    @(
                            winfo.dtfrom.ToString("MMM dd, yyyy") + " - " +
                            winfo.dtto.ToString("MMM dd, yyyy")
                        )
                </p>
            }

            @{
                        <a href="@winfo.link">Show Details</a>
            }
        </div>
        }
    </div>
}
else
{
    <h4 class="itemlabelsNoResults">No results to show, that matches your search criteria !</h4>
    <br>
}

